/** Стили по умолчанию*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}
li {
  list-style-type: none;
}

/** общие стили классов*/
.container__wrapper {
  width: 90%;
  margin: 0 auto;
}
#admin-panel {
  margin-top: 150px !important;
}

/** header */
.header__wrapper {
  display: flex;
  align-items: center;
  height: 700px;
}
.header__block {
  background: url(https://i.pinimg.com/564x/da/3a/4d/da3a4d453595217222904e1f51449444.jpg)
    no-repeat center top / cover;
  height: 900px;
}
.header__title {
  font-size: 120px;
  /*margin-top: 120px;*/
  font-weight: 700;
  text-transform: uppercase;
}

/* new change  */
/** navbar */
.navbar__block {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
}
.navbar__btns {
  width: 30%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.navbar__btns button {
  width: 25%;
  height: 45px;
  padding: 5px;
  background-color: #ffffff00;
  color: #fffdfd;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: "Gotham", sans-serif;
  transition: 0.5s;
}
.navbar__btns button:hover {
  background-color: #008c59;
  color: #fff;
  border: 1px solid #008c59;
  transition: 0.5s ease;
  cursor: pointer;
}
.navbar__btns button::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

/** carousel */
.swiper {
  position: relative;
  width: 60%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*height: 400px;  */
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.carousel__card {
  position: relative;
  /*width: 20% !important;*/
  /*height: 100%;*/
  /*height: 500px;*/
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  /*border-radius: 10px;*/
}
/*.card__content {
  height: 350px !important;
}*/
.swiper-slide div {
  /*display: block;*/
  opacity: 0;
  padding-bottom: 0.625rem;
}
.swiper-slide-active div {
  display: block;
  opacity: 1;
}
.btn-delete {
  position: relative;
  top: -60px;
  margin: 5px 0 0 20px;
}

/** main navbar */
.main__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.main__navbar_title {
  width: 15%;
}
.dropdowns__wrapper {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__form {
  position: relative;
  width: 20% !important;
}

/** movie list */
#movie-list {
  width: 90%;
  margin: 60px auto 0;
}
.movie_card {
  width: 17%;
  margin-bottom: 80px;
}
.movie__image {
  height: 350px;
}
.movie__image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.cart__title {
  font-size: 30px;
  margin-top: 10px;
}
.subtitles__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__janr {
  font-size: 20px;
}
.card__date {
  font-size: 20px;
  margin-right: 5px;
}

footer {
  background-color: black;
  padding: 10px 0;
  color: white;
  text-align: center;
}
.contact {
  font-weight: bold;
  margin-bottom: 10px;
}

.email-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

/* toggle theme start */
.night-theme-btn {
  position: fixed;
  right: 30px;
  top: 90px;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(71, 135, 209, 0.5);
  transition: fulter 0.4s background-color 0.4s;
  cursor: pointer;
}

.night-theme-btn:hover {
  filter: brightness(120%);
}

.night-theme-btn:hover {
  filter: brightness(80%);
}

.night-theme__icon {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
  transition: opacity 0.15s;
}

.night-theme__icon circle,
.night-theme__icon path {
  fill: black;
}

.night-theme__icon_moon {
  opacity: 1;
}

body {
  transition: background-color 0.4s, color 0.4s;
}

body.night-theme {
  background-color: black;
  color: white;
}

body.night-theme .night-theme-btn {
  background-color: rgba(226, 226, 77, 0.5);
}

body.night-theme .night-theme__icon_moon {
  opacity: 0;
}

body.night-theme .night-theme__icon_sun {
  opacity: 1;
}
/* toggle theme end */
footer {
  background-color: black;
  padding: 20px 0;
  color: white;
  text-align: center;
}

/* Стили для контактной информации */
.contact {
  font-weight: bold;
}

/* Стили для кнопки Email us */
.email-button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.connect-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.connect-text {
  margin-right: 10px;
}

.icon-img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.footer-left {
  text-align: left;
  margin-top: -340px;
}

.footer-left h2 {
  font-weight: bold;
  margin: 19px 0;
}

.footer-left p {
  margin: 5px 0;
}
